/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
header {
    background-color: rgb(196, 138, 138);
}

body {
    background-color: lightblue;
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    background-color: rgb(196, 138, 138);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div a img {
    width: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: flex-end;
}

header nav ul li {
    margin-inline: 20px;
}

/*Body*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

/* Titulos */
h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bolder;
    margin: 30px;
}

/* imagenes */

.imagenesPrincipales {
    display: flex;
    justify-content: center;
}

.imagenesPrincipales img {
    margin-bottom: 30px;
    max-width: 85%;
}

/*Grid Index*/
#gridContainer {
    display: grid;
    grid-template-areas: "titulo1 titulo2"
        "video1 show"
        "video2 show";
    grid-template-columns: 3.5fr 0.8fr;
    grid-template-rows: 100px 50% 50%;
    margin-bottom: 85px;
}

#gridContainer .titulo1 {
    grid-area: titulo1;
    justify-self: center;
    margin-top: 30px;
}

#gridContainer .titulo2 {
    grid-area: titulo2;
    background-color: rgb(125, 197, 90);
}

#gridContainer .video1 {
    grid-area: video1;
    justify-self: center;
}

#gridContainer .video2 {
    grid-area: video2;
    justify-self: center;
}

#gridContainer .show {
    grid-area: show;
    background-color: rgb(125, 197, 90);
}

#gridContainer .show h4 {
    margin-bottom: 5px;
}

/* links */
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Integrantes*/
.integrantes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
}

.integrantes h4 {
    display: flex;
    justify-content: center;
}

.integrantes section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
}

.integrantes section p {
    display: flex;
    max-width: 65%;
}

.integrantes section img {
    width: 450px;
}

.integrantes .par {
    display: flex;
    flex-direction: row-reverse;
}

/* Discos */
.discos {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.discos img {
    width: 300px;
    margin: 20px;
}

.discos p {
    text-align: center;
    font-weight: bolder;
}

/* Pagina de contacto */
#formularioDeContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bolder;
}

button {
    border-color: navajowhite;
    font-weight: bold;
}

button:hover{
    background-color: rgb(188, 164, 129);
    font-weight: bolder;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "enlaces rrss copyright";
    justify-items: center;
    align-items: center;
    margin-top: auto;
}

footer .enlaces {
    grid-area: enlaces;
}

footer .rrss {
    grid-area: rrss;
}

footer .copyright {
    grid-area: copyright;
}

footer div h4 {
    margin-bottom: 15px;
    text-align: center;
}

footer div img {

    width: 50px;
}

footer div ul {
    list-style: circle;
    justify-content: center;
}

footer div ul li {
    margin: 15px;
}

/*Tablet*/
@media screen and (max-width: 1024px) {


    #gridContainer {
        display: flex;
        flex-direction: column;
    }

    #gridContainer .titulo1 {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    #gridContainer .titulo2 {
        display: flex;
    }

    #gridContainer .video1 {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    #gridContainer .video2 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #gridContainer .show {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .boton {
        width: 120px;
    }

    footer {
        margin-top: auto;
        font-size: 85%;
    }
}

/*Mobile*/

@media screen and (max-width: 480px) {

    h1 {
    font-size: 2.5rem;
    }

    #gridContainer .video1 {
        margin: 10px;
    }

    #gridContainer .video2 {
        margin: 10px;
    }

    nav {
        width: 50%;
    }

    header nav ul li {
        margin-inline: 15px;
        font-size: 50%;
    }

    footer{
        font-size: 8px;
        margin-top: auto;
    }

    footer div img {
        width: 45px;
    }
}