/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
header {
  background-color: rgb(196, 138, 138);
}

body {
  background-color: lightblue;
  font-family: "Noto Sans JP", sans-serif;
}

footer {
  background-color: rgb(196, 138, 138);
}

/* Titulos */
h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 3em;
  font-weight: bolder;
  margin: 30px;
  color: black;
}

h2 {
  color: black;
  font-weight: bold;
}

h4 {
  color: black;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
header div a img {
  width: 50px;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-inline: 20px;
}
header nav ul li :hover {
  color: rgb(72, 72, 72);
}

/*Body*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/*Grid Index*/
#gridContainer {
  display: grid;
  grid-template-areas: "titulo1 titulo2" "video1 show" "video2 show";
  grid-template-columns: 3.5fr 0.8fr;
  grid-template-rows: 100px 50% 50%;
  margin-bottom: 85px;
}
#gridContainer .titulo1 {
  grid-area: titulo1;
  justify-self: center;
  margin-top: 30px;
}
#gridContainer .titulo2 {
  grid-area: titulo2;
  background-color: rgb(125, 197, 90);
  margin-right: 75px;
}
#gridContainer .video1 {
  grid-area: video1;
  justify-self: center;
}
#gridContainer .video2 {
  grid-area: video2;
  justify-self: center;
}
#gridContainer .show {
  grid-area: show;
  background-color: rgb(125, 197, 90);
  margin-right: 75px;
  margin-bottom: 20px;
}
#gridContainer h2 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-left: 8px;
}
#gridContainer h4 {
  margin-bottom: 5px;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "enlaces rrss copyright";
  justify-items: center;
  align-items: center;
  margin-top: auto;
}
footer .enlaces {
  grid-area: enlaces;
}
footer .rrss {
  grid-area: rrss;
}
footer .copyright {
  grid-area: copyright;
}
footer div h4 {
  margin-bottom: 15px;
  text-align: center;
}
footer div img {
  width: 50px;
}
footer div ul {
  list-style: circle;
  justify-content: center;
}
footer div ul li {
  margin: 15px;
}

/* imagenes */
.imagenesPrincipales {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.imagenesPrincipales img {
  margin-bottom: 30px;
  max-width: 90%;
}

/* links */
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  #gridContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  #gridContainer .titulo1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
  }
  #gridContainer .titulo2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
  }
  #gridContainer .video1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 20px 40px;
  }
  #gridContainer .video2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 20px 30px;
  }
  #gridContainer .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .boton {
    width: 120px;
  }
  footer {
    margin-top: auto;
    font-size: 85%;
  }
}
/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
  #gridContainer {
    display: flex;
    flex-direction: column;
  }
  #gridContainer .titulo1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
  }
  #gridContainer .titulo2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
  }
  #gridContainer .video1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 20px 40px;
  }
  #gridContainer .video2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 20px 30px;
  }
  #gridContainer .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  footer {
    font-size: 8px;
    margin-top: auto;
  }
  footer div img {
    width: 45px;
  }
}
/*Integrantes*/
.integrantes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 10px;
}
.integrantes h4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.integrantes section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  flex-wrap: wrap;
}
.integrantes section p {
  display: flex;
  max-width: 65%;
}
.integrantes section img {
  width: 450px;
}
.integrantes .par {
  display: flex;
  flex-direction: row-reverse;
}

/* Biografia */
.bio {
  margin: 50px;
}

/* Discografia */
.discos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  margin: 30px;
}
.discos img {
  width: 300px;
  margin-bottom: 10px;
  transition: width 0.5s;
}
.discos img:hover {
  width: 320px;
}
.discos p {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 30px;
}

/* Pagina de contacto */
#formularioDeContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bolder;
}

button {
  border-color: navajowhite;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: background-color 0.2s, font-weight 0.2s;
}
button:hover {
  background-color: rgb(188, 164, 129);
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
