/* Estilos globales */
header {
    background-color: rgb(196, 138, 138);
}
body {
    background-color: lightblue;
    font-family: 'Noto Sans JP', sans-serif;
}
footer {
    background-color: rgb(196, 138, 138);
}